code {
  color: #ebebeb; /* Light grey text */
  background-color: #4e5d6c; /* Darker blue/grey to match Superhero */
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
h1 code, h2 code, h3 code, h4 code {
  background-color: transparent !important;
  color: inherit !important;
  padding: 0;
}